In [41]:
import pandas as pd

## 상권 정보 - 집객시설

In [45]:
df_af = pd.read_csv('./data2/부산광역시_상권_집객시설정보_20211216_수정.csv', encoding='cp949')

In [46]:
df_af.head(5).T

                 0           1         2         3          4
상권구분명         골목상권        골목상권      골목상권      골목상권       골목상권
상권명      황령대로489번길  황령대로319번가길  해운대로81번길  해운대로76번길  해운대로483번길
집객시설수            6          21         3        10          2
관공서수             0           1         1         1          0
학교시설수            0           0         1         0          0
병원시설수            4           5         1         5          2
교통시설수            2          15         0         4          0
지하철수             0           0         0         0          0
병원시설수.1          0           0         0         0          0
쇼핑시설수            0           0         0         0          0

In [47]:
df_af.shape

(384, 10)

## 상권 정보 - 변화지표

In [31]:
df_sb = pd.read_csv('./data2/부산광역시_상권_변화지표정보_20211216_수정.csv', encoding='cp949')

In [32]:
df_sb.head(5).T

               0         1          2     3       4
상권구분명       전통상권      전통상권       전통상권  전통상권    전통상권
상권명        해운대시장  학장반도보라상가  하이타운상가백화점  하단시장  충렬상가시장
변화지표값       상권확장      다이나믹       다이나믹  상권축소    상권축소
평균생존개월수        0        30         26    57      80
평균폐업개월수      120         1         36    21       0
부산평균생존개월수     50        50         50    50      50
부산평균폐업개월수     44        44         44    44      44

In [34]:
df_sb.shape

(477, 7)

## 상권 정보 - 점포이력
- 전체 data는 27만 rows 인데 csv 파일로 사이트에서 직접 다운 받으면 5000 rows가 최대임.
- 그래서 API KEY 받아서 얻기.

## 인구 정보 - 7월, 빅데이터포털

- link : https://bigdata.busan.go.kr/data/bigDataDetailView.do?menuCode=M00000000007
- 근데 이건 인구 데이터가 2020년 11월까지만 있고, 그 이후에 업데이트는 안 되는 듯.
- 문의 넣어놨음.

In [10]:
df_gong7 = pd.read_csv('./data2/부산시공공_주민등록인구_통계정보_서비스_수집일_20220701.csv', encoding='utf-8', sep='|')

- skey : ??
- gugun : 구/군
- rate_year : ??
- dong_cnt : 동 수
- house_cnt : ?? (집 수?)
- top_pop_cnt : 총 인구 수
- m_pop_cnt : 총 남성 인구 수
- f_pop_cnt : 총 여성 인구 수
- pop_ratio : ?? (지역구 인구 수 / 부산 전체 인구 수?)
- pop_density : ?? (인구 밀도인데 얼마가 기준인지?)
- instt_code : 제공기관 코드
- last_load_dttm : ?? (마지막 갱신일자?)

In [12]:
df_gong7.head(5).T

,0,1,2,3,4
skey,19597,19598,19599,19600,19601
gugun,부산광역시 강서구,부산광역시 연제구,부산광역시 수영구,부산광역시 사상구,부산광역시 기장군
rate_year,2020-06,2020-06,2020-06,2020-06,2020-06
dong_cnt,8,12,10,12,5
house_cnt,55158,91412,82989,97113,72166
tot_pop_cnt,137005,210515,178702,220468,172280
m_pop_cnt,72436,101437,84448,111722,85639
f_pop_cnt,64569,109078,94254,108746,86641
pop_ratio,4.0,6.1,5.2,6.4,5.0
pop_density,755,17398,17503,6109,789
instt_code,6260000,6260000,6260000,6260000,6260000
last_load_dttm,2022-07-01 05:57:03,2022-07-01 05:57:03,2022-07-01 05:57:03,2022-07-01 05:57:03,2022-07-01 05:57:03

In [13]:
df_gong7.shape

(986, 12)

In [14]:
df_gong7.rate_year.unique()

array(['2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11',
       '2015', '2016', '2017', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2020-03', '2020-04', '2020-05', '2018',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-01', '2019-11', '2019-12',
       '2020-01', '2020-02'], dtype=object)