# 라이브러리

In [1]:
import requests
import pandas as pd

## 함수 : API KEY 입력 -> DataFrame 추출

In [4]:
def makeDF(url, serviceKey, pageNo, numOfRows, resultType='json'):
  params ={'serviceKey' : serviceKey, 'pageNo' : pageNo, 'numOfRows' : numOfRows, 'resultType' : resultType}
  response = requests.get(url, params=params)
  data = response.content.decode()
  
  data_title = url.split('/')[-1]
  return pd.DataFrame(pd.read_json(data)[data_title]['item'])

# 상권 변화지표

In [55]:
# Python3 샘플 코드 #

url = 'http://apis.data.go.kr/6260000/BusanCommercialChangeService/getCommercialChangeList'
serviceKey = 'sDfk9Qyuq5+oRZaD0XyZ+Zohtbmixn0X3VlBiZHMQAM5OBCSCn+ZTvqoiWBPXS+tZy4mMtWkIUnS6XSpfgJm2w=='
pageNo = '1'
numOfRows = '447' # total : 447 rows
resultType = 'json'

# Change Indicator
df_ci = makeDF(url, serviceKey, pageNo, numOfRows, resultType)

In [62]:
df_ci.head(3)

,type_nm,comm_nm,change_indicator_nm,average_open_months,average_close_months,busan_average_open_months,busan_average_close_months
0,전통상권,해운대시장,상권확장,0,120,50,44
1,전통상권,학장반도보라상가,다이나믹,30,1,50,44
2,전통상권,하이타운상가백화점,다이나믹,26,36,50,44

In [63]:
df_ci.tail(3)

,type_nm,comm_nm,change_indicator_nm,average_open_months,average_close_months,busan_average_open_months,busan_average_close_months
444,발달상권,부산 부산진구 양정역_1,다이나믹,50,59,50,44
445,발달상권,부산 부산진구 서면역_5,정체,72,61,50,44
446,발달상권,부산 부산진구 서면역_4,정체,51,45,50,44

# 상권 점포이력
- 트래픽 제한이 10000이라 279096 rows 어떻게 해야할지 ?
  - pageNo로 다 추출해서 한 df로 합치기

In [29]:
url = 'http://apis.data.go.kr/6260000/BusanCommercialHistoryService/getCommercialHistoryList'
serviceKey = 'sDfk9Qyuq5+oRZaD0XyZ+Zohtbmixn0X3VlBiZHMQAM5OBCSCn+ZTvqoiWBPXS+tZy4mMtWkIUnS6XSpfgJm2w=='
pageNo = '28'
numOfRows = '10000' # total : 279096 rows
resultType = 'json'

# Store History
df_sh = makeDF(url, serviceKey, pageNo, numOfRows, resultType)

In [27]:
df_sh.head(5)

,trdstatenm,bplcnm,majornm,minornm,upjongnm,rdnwhladdr,apvpermymd,dcbymd,geom
0,영업/정상,하나약국,소매,약국,의약품 소매업,부산광역시 부산진구 복지로 77 (개금동),2016-12-19,,POINT(129.020842415753 35.1491324007954)
1,영업/정상,미소약국,소매,약국,의약품 소매업,부산광역시 부산진구 복지로 65 (개금동),2015-03-23,,POINT(129.020300764168 35.147383629014)
2,영업/정상,영생약국,소매,약국,의약품 소매업,"부산광역시 부산진구 백양관문로77번길 42, 2층 209호 (개금동, 동원화인패밀리타운)",2015-10-02,,POINT(129.028619895641 35.1636038893554)
3,영업/정상,새대학약국,소매,약국,의약품 소매업,부산광역시 부산진구 복지로 77-1 (개금동),2015-06-04,,POINT(129.020153206928 35.1463174758707)
4,영업/정상,다정약국,소매,약국,의약품 소매업,부산광역시 부산진구 가야대로 470 (개금동),2015-05-22,,POINT(129.023428436511 35.1528733775346)

# 상권 집객시설
- `hos_total` column과 `hot_total` column은 의미는 '병원시설수'로 같음.

In [9]:
url = 'http://apis.data.go.kr/6260000/BusanCommercialCountingService/getCommercialCountingList'
serviceKey = 'sDfk9Qyuq5+oRZaD0XyZ+Zohtbmixn0X3VlBiZHMQAM5OBCSCn+ZTvqoiWBPXS+tZy4mMtWkIUnS6XSpfgJm2w=='
pageNo = '1'
numOfRows = '384' # total : 384 rows
result = 'json'

# Attractive Facility
df_af = makeDF(url, serviceKey, pageNo, numOfRows, resultType)

In [10]:
df_af.head(5)

,type_nm,comm_nm,fac_total,gov_total,sch_total,hos_total,bus_total,sub_total,hot_total,sho_total
0,골목상권,황령대로489번길,6,0,0,4,2,0,0,0
1,골목상권,황령대로319번가길,21,1,0,5,15,0,0,0
2,골목상권,해운대로81번길,3,1,1,1,0,0,0,0
3,골목상권,해운대로76번길,10,1,0,5,4,0,0,0
4,골목상권,해운대로483번길,2,0,0,2,0,0,0,0